name: China IP
on:
  schedule:
    - cron: 30 11 * * *
  watch:
    types: [started]
jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Download China IP
      run: |
        wget https://raw.githubusercontent.com/misakaio/chnroutes2/master/chnroutes.txt
    - name: Create files
      run: |
        sed -i "/#/d" chnroutes.txt
        sed -i "s/^/IP-CIDR,/" chnroutes.txt
        mv chnroutes.txt ChinaIP.list
        cp ChinaIP.list ChinaIP.yaml
        sed -i "s/^/  - /" ChinaIP.yaml
        sed -i 1i\payload: ChinaIP.yaml
    - name: Set variables
      run: |
        echo "TIME=Released on $(date +%Y).$(date +%m).$(date +%d)" >> $GITHUB_ENV
      shell: bash
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          ./ChinaIP.list
          ./ChinaIP.yaml
        draft: false
        prerelease: false
        tag_name: China-IP
        name: China IP
        body:  ${{ env.TIME }}
